* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-image: linear-gradient(rgb(233, 181, 12), rgb(255, 147, 230), rgb(220, 122, 9));
    justify-content: center;

}

.i {
    font-weight: bolder;
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-stretch: expanded;
}

.h1 {
    text-align: center;
    padding: 2rem;
    font-size: larger;
    font-stretch: ultra-expanded;
    font-family: monospace;
}

/* gif animation img */
#git-embed {
    align-items: center;
    justify-content: center;
}

.main {
    background-image: repeating-radial-gradient(rgb(255, 147, 230), rgb(220, 122, 9));
}

.results {
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

.searchResults {
    background-image: linear-gradient(rgb(146, 206, 15),  rgb(225, 206, 221), rgb(254, 172, 9));
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    width: 300px;
    height: 300px;
}

.displayResults {
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#cryptoName, #cryptoPrice, #crypto1Hr, #crypto24Hr, #crypto7Days, #cryptoMarketCap {
    padding: 15px;
}

.main .field {
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.input {
    justify-content: center;
    height: 50px;
    width: 50%;
}

.checkbox:hover {
    transform: scale(1.2);
    transition: 2s;
}

#submitBtn {
    padding: 2rem;
}   

#submitBtn:hover {
    transform: scale(2);
    transition: 2s;
}

/* https://www.sitepoint.com/css-typewriter-effect/ */
/* first make text hidden until reveal by type out animation */
.type-writer {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 0;
    animation: typing 6s steps(100, end) forwards;
}

/* stop cursor by the end of type */
.type-container {
    display: inline-block;
}

/* type-out animation letter by letter */
@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

/* https://codepen.io/GeorgePark/pen/aazBGj */

.emoji {
    font-size: calc(100px + 4vw);
    min-width: 1.4em;
    margin: 0.3em 0.4em;
    text-align: center;
}


.earth::after {
    content: '🌎';
    --emoji-1: '🌍';
    --emoji-2: '🌏';
    animation-name: threeFrames;
    animation-duration: 10s;
}
    
    @keyframes twoFrames {
        50% {
            content: var(--emoji);
        }
    }

    @keyframes threeFrames {
        33.333% {
            content: var(--emoji-1);
        }

        66.666% {
            content: var(--emoji-2);
        }
    }



.moon::after {
    content: '🌕';
    animation-name: moon;
    animation-duration: 10s;
}
    @keyframes moon {
        12.5% {
            content: '🌖';
        }

        25% {
            content: '🌗';
        }

        37.5% {
            content: '🌘 ';
        }

        50% {
            content: '🌑';
        }

        62.5% {
            content: '🌒';
        }

        75% {
            content: '🌓';
        }

        87.5% {
            content: '🌔';
        }
}

/* responsive to one column layout for 800px viewport */
@media screen and (max-width: 800px) {
    .body {
        flex-shrink: 50%;
        font-size: 1rem;
    }
    .field {
        flex-wrap: wrap;
    }
    .header {
        font-size: 1rem;
    }
    .type-writer {
        font-size: 1rem;
    }
    .control {
        width: 50%;
        padding-right: 2rem;
    }
    #gif-embed {
        width: 80%;
        padding: 1rem;
    }
}

.control {
    position: relative;
    display: inline-block;
}
