* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(rgb(233, 181, 12), rgb(255, 147, 230), rgb(220, 122, 9));
    justify-content: center;

}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: monospace;
    padding: 2rem;
}

.coinInfoCard {
    /* max-width: 750px; */
    margin: auto;
}

.card-header {
    background-image: linear-gradient(rgb(233, 181, 12), rgb(255, 147, 230), rgb(220, 122, 9));
    justify-content: center;
}

/* added the currency exchange table to our userpage and worked with bulma to add the coin info card
will be working on displaying the actual price of the coins after they have been converted to the different currencies  */